input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    flex: 1;
  }
  .contact{
      
    align-items:center;
    justify-content: center;
    max-width: 300px;
    margin-left: 39%;
    background-color: #e9e9e9;
    font:black;
    font-size: 12px;
    font-style: ABeeZee;
    border:#9E9E9E ;
    
    
    

  }